<p id="notice"><%= notice %></p>

<h1>Yogas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description en</th>
      <th>Description hi</th>
      <th>Image path</th>
      <th>Yoga type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yogas.each do |yoga| %>
      <tr>
        <td><%= yoga.title %></td>
        <td><%= yoga.description_en %></td>
        <td><%= yoga.description_hi %></td>
        <td><%= yoga.image_path %></td>
        <td><%= yoga.yoga_type %></td>
        <td><%= link_to 'Show', yoga %></td>
        <td><%= link_to 'Edit', edit_yoga_path(yoga) %></td>
        <td><%= link_to 'Destroy', yoga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yoga', new_yoga_path %>
