<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @yoga.title %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @yoga.description_en %>
</p>

<p>
  <strong>Description hi:</strong>
  <%= @yoga.description_hi %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @yoga.image_path %>
</p>

<p>
  <strong>Yoga type:</strong>
  <%= @yoga.yoga_type %>
</p>

<%= link_to 'Edit', edit_yoga_path(@yoga) %> |
<%= link_to 'Back', yogas_path %>
