<%= form_with(model: bhajan, local: true) do |form| %>
  <% if bhajan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bhajan.errors.count, "error") %> prohibited this bhajan from being saved:</h2>

      <ul>
        <% bhajan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
