<p id="notice"><%= notice %></p>

<h1>Yogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description en</th>
      <th>Description hi</th>
      <th>Image path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yogs.each do |yog| %>
      <tr>
        <td><%= yog.title %></td>
        <td><%= yog.description_en %></td>
        <td><%= yog.description_hi %></td>
        <td><%= yog.image_path %></td>
        <td><%= link_to 'Show', yog %></td>
        <td><%= link_to 'Edit', edit_yog_path(yog) %></td>
        <td><%= link_to 'Destroy', yog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yog', new_yog_path %>
